@model Domain.Viewmodels.CreateRoleViewModel

@{
    ViewData["Title"] = "Login";
}

<div class="auth-content">
    <div class="auth-bg">
        <span class="r"></span>
        <span class="r s"></span>
        <span class="r s"></span>
        <span class="r"></span>
    </div>
    <div class="card">
        <div class="card-body text-center">
              
            <div class="mb-4">
                <i class="feather icon-unlock auth-icon"></i>
            </div>
            <h3 class="mb-4">Login</h3>
            <form method="post" asp-action="CreateRole">
                <div asp-validation-summary="All" class="text-danger"></div>

            <div class="input-group mb-3">
                    <input asp-for="RoleName" class="form-control" placeholder="Role Name">
                    <span asp-validation-for="RoleName" class="text-danger"></span>
            </div>

                <button type="submit" class="btn btn-primary shadow-2 mb-4">
                    Create Role
                </button>
            </form>
        </div>
    </div>
</div>